<div class="popular-assets-container">
  <h2>{{ 'view.title' | i18next }}</h2>
  @if (collectionName) {
    <h3>{{ collectionName }}</h3>
  }
  <p>{{ description }}</p>
  <div
    impdc-scrollable
    class="asset-list"
    [scrollUnit]="250"
    [clickScrollMultiplier]="1"
    impdcBranded
  >
    @for (asset of assets; track asset) {
      <app-asset-display
        [id]="asset.id"
        [name]="asset.name"
        [downloadCount]="asset.downloadCount"
        [extension]="asset.extension"
        [totalLikes]="asset.totalLikes"
        [viewCount]="asset.viewCount"
        [code]="asset.code"
        [contentType]="asset.contentType"
        [sharedCount]="asset.sharedCount"
        [sharedHitCount]="asset.sharedHitCount"
      ></app-asset-display>
    }
  </div>
</div>
